<section class="tv-section-footer-padding ">
  <div class="container backlink-top">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
              <div class="tv-footer-menu">
                  <ul>
                      <li><a href="{{url_for('home')}}">Home</a></li>
                      <li><a href="{{url_for('AboutUs')}}">About Us</a></li>
                      <li><a href="{{url_for('Contact')}}">Contact Us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
              <div class="tv-copyright">
                 
                  <p>&copy; All right reserved. Designed by UniParthenope</a> </p>
              </div>
          </div>
      </div>
  </div>
</section>