<link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/owl.theme.default.css">
        <link href="/static/css/magnific-popup.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/responsive.css" rel="stylesheet">
        <link href="/static/css/RegisterStyle.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">