{% extends "template.html" %}

{% block content %}

        <div class="tv-inner-banner-image" style="background-image: url('/static/images/Image5.jpg')">
            <div class="tv-opacity-medium tv-bg-pink"></div>
            <div class="tv-inner-banner-text">
                <h3>About Us</h3>
                <div class="tv-breadcrumb">
                    <a href="home.html"><span>Home</span></a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span>About Us</span>
                </div>
            </div>
        </div>
        <!--End Header Section-->

        <!--Welcome Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div class="">
                    <div class="tv-section-title text-center">
                        <h3>Welcome To Smart Gym</h3>
                        <h4>push harder than yesterday if you want a different tommorrow </h4>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="tv-aboutus-block">
                            <div class="tv-aboutus-desc">
                                <p>Are you having trouble in the gym? Are you having problems with your personal trainer? 
                                    We, the founders of smart gym, Vincenzo, Pasquale and Ylenia, will help you solve these problems. 
                                    Very often we have witnessed unpleasant events in a gym: personal trainers who do not take care of you, do not explain well the exercises you will have to face, do not assign you a personalized card and abandon you to your fate. </p>
                                <p>We want to solve these problems by offering all of you a direct link between you and your personal trainer, with the assignment of personalized cards each month and the explanation of each exercise with attached links for the most perfect execution possible. You will have no injuries or discomfort.
                                    We by your side, always. </p>
                            </div>

                            <div class="tv-aboutus-benefit">
                                <a><span class="icon_circle-slelected"></span>professional trainer :</a>
                                <p>We are 3 students looking for new challenges and new projects to pursue. We are passionate about fitness and good health. We will involve you as well.</p>
                            </div>
                            <div class="tv-aboutus-benefit">
                                <a><span class="icon_circle-slelected"></span>multiple classroom :</a>
                                <p>Project created for teaching purposes: to design and implement a progressive web app for the Web Technologies course for the University of Naples Parthenope Studies.</p>
                            </div>
                            <div class="tv-aboutus-benefit">
                                <a><span class="icon_circle-slelected"></span>equipment :</a>
                                <p>The development technologies used for the design and implementation of this PWA are: for the front-end HTML, CSS, JAVASCRIPT, for the back-end PYTHON, MONGODB, AJAX</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="tv-aboutus-opening">
                            <div class="tv-opening-hours">
                                <h3>opening hours</h3>
                                <ul>
                                    <li>monday to friday <span>07.00 - 17.00</span></li>
                                    <li>saturday <span>07.00 - 14.00</span></li>
                                    <li>sunday<span>weekend</span></li>
                                </ul>
                            </div>
                            <div class="tv-opening-img">
                                <img src="/static/images/Image28.jpg" alt="openingimg" class="width-100 img-responsive">
                                <div class="tv-opening-img-name">
                                    <h5>mr. olympia Couple</h5>
                                    <p>24-8-2017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Welcome Section-->

        <!--Welcome Counter Section-->
        <section class="tv-section-padding">
            <div class="tv-fixed-img" style="background-image: url('/static/images/Image5.jpg')">
                <div class="tv-opacity-medium tv-bg-pink"></div>
                <div class="tv-counter-bg tv-section-padding-70">
                    <div class="container">
                        <div class="">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="tv-welcome-counter">
                                    <p class="counter" data-slno="1" data-min="0" data-max="985" data-delay=".9" data-increment="1">985</p>
                                    <h5>member</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="tv-welcome-counter">
                                    <p class="counter" data-slno="1" data-min="0" data-max="819" data-delay=".9" data-increment="1">819</p>
                                    <h5>trainers</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="tv-welcome-counter">
                                    <p class="counter" data-slno="1" data-min="0" data-max="114" data-delay=".9" data-increment="1">114</p>
                                    <h5>equipment</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="tv-welcome-counter">
                                    <p class="counter" data-slno="1" data-min="0" data-max="219" data-delay=".9" data-increment="1">219</p>
                                    <h5>loactions</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Welcome Counter Section-->
        
        <!--Counter Script-->
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('.counter').counterUp({
                    delay: 20,
                    time: 1000
                });
            });
        </script>
        <!--End Counter Script-->
        
        <!--Pricing Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div class="">
                    <div class="tv-section-title tv-section1 text-center">
                        <h3>pricing package</h3>
                        <p>In this section you can find all the prices related to subscriptions that you can subscribe to here with us. We have 3 different offers based on your every need. Don't waste any more time, choose Smart Gym.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="price-box">
                            <div class="price-empty">
                            </div>
                            <div class="price-quantity">
                                <div class="qnty-box">
                                    <div class="box-element">
                                        <h5>$85.00</h5>
                                        <p>Quarterly</p>
                                    </div>
                                </div>
                                <div class="price-dtl">
                                    <ul>
                                        <li class="first-child">3 Days of the week</li>
                                        <li>professional trainer</li>
                                        <li>Bodybuilding</li>
                                        <li>Free Hand</li>
                                        <li>Fitness &amp; Boxing</li>
                                    </ul>
                                    <div class="tv-bodiez-button">
                                        <a href="">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="price-box active">
                            <div class="price-empty">
                            </div>
                            <div class="price-quantity">
                                <div class="qnty-box">
                                    <div class="box-element">
                                        <h5>$130.00</h5>
                                        <p>Half yearly</p>
                                    </div>
                                </div>
                                <div class="price-dtl">
                                    <ul>
                                        <li class="first-child">3 Days of the week</li>
                                        <li>professional trainer</li>
                                        <li>Bodybuilding</li>
                                        <li>Free Hand</li>
                                        <li>Fitness &amp; Boxing</li>
                                    </ul>
                                    <div class="tv-bodiez-button">
                                        <a href="">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="price-box">
                            <div class="price-empty">
                            </div>
                            <div class="price-quantity">
                                <div class="qnty-box">
                                    <div class="box-element">
                                        <h5>$85.00</h5>
                                        <p>$210.00</p>
                                    </div>
                                </div>
                                <div class="price-dtl">
                                    <ul>
                                        <li class="first-child">3 Days of the week</li>
                                        <li>professional trainer</li>
                                        <li>Bodybuilding</li>
                                        <li>Free Hand</li>
                                        <li>Fitness &amp; Boxing</li>
                                    </ul>
                                    <div class="tv-bodiez-button">
                                        <a href="">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!--End Pricing Section-->
        {% endblock %}