{% extends "template.html" %}

{% block content %}

<div class="tv-banner-image" style="background: rgba(0, 0, 0, 0) url('static/images/Image1.jpg') no-repeat scroll center top / cover;">
    <div class="tv-banner-text">
        <h3>Your Body Fit</h3>
        <h1>Make Your Body <br><span>Stronger</span></h1>
        <div class="tv-banner-button">
            <a href="{{url_for('Contact')}}">join us now</a>
        </div>
    </div>
</div>
<!--Service Section-->
        <section>
            <div class="container">
                <div >
                    <div class="tv-service-block tv-service-clear">
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-service-content">
                                <img src="static/images/Image11.png" alt="serviceicon" />
                                <h3>Weightlifting</h3>
                                <p>Do you want to lift large loads above your head? This discipline is for you. Follow a preparation program that will allow you harmonious and complete body development.</p>
                            </div>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-service-img">
                                <img src="static/images/Image3.jpg" alt="serviceimg" class="width-100 img-responsive" />
                            </div>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-service-content">
                                <img src="static/images/Image9.png" alt="serviceicon" />
                                <h3>BodyBuilding</h3>
                                <p>Don't limit yourself only to physical improvement; this discipline includes stress reduction, anxiety and depression, and improvements in general well-being, body image and self-esteem. Grow with us.</p>
                            </div>
                        </div> 
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-service-img">
                                <img src="static/images/Image6.jpg" alt="serviceimg" class="width-100 img-responsive" />
                            </div>
                        </div> 
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-service-content">
                                <img src="static/images/Image10.png" alt="serviceicon" />
                                <h3>Fitness</h3>
                                <p>Fitness means, literally, "good health." Therefore, fitness means a whole range of activities and lifestyles designed to restore or maintain good physical and mental fitness.</p>
                            </div>
                        </div> 
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-service-img">
                                <img src="static/images/Image8.jpg" alt="serviceimg" class="width-100 img-responsive" />
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!--End Service Section-->

        <!--Gym Instructor Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div >
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="tv-section-title">
                            <h3>Gym Instructor Agency</h3>
                            <p>Our gym has about 10-15 employees, all of whom serve the customer with professionalism and competence.</p>
                        </div>
                        <div >
                            <div class="tv-gyminstructor-block">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="tv-instructor-icon">
                                        <i class="icon_profile" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="tv-instructor-content">
                                        <h4>Owner &amp; Director</h4>
                                        <p>Pasquale Ruotolo, Vincenzo Bucciero, Ylenia Cecere.</p>
                                    </div>
                                </div> 
                            </div>

                        </div>

                        <div >
                            <div class="tv-gyminstructor-block">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="tv-instructor-icon">
                                        <i class="icon_rook" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="tv-instructor-content">
                                        <h4>lead instructor</h4>
                                        <p>Vincenzo Bucciero. Age: 21. I am passionate about fitness and bodybuilding. For me, excellent training linked to excellent nutrition will make you a better person. Rely on us and notice your improvements. </p>
                                    </div>
                                </div> 
                            </div>

                        </div>

                        <div >
                            <div class="tv-gyminstructor-block">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="tv-instructor-icon">
                                        <i class="icon_cog" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="tv-instructor-content">
                                        <h4>certified instructor</h4>
                                        <p>Ruotolo Pasquale & Ylenia Cecere Age: 21. We are transparent and professional in our work. Working hard for us is no problem so if you feel like starting to improve your physical and mental health, trust us. Let your transformation begin.</p>
                                    </div>
                                </div> 
                            </div>

                        </div>

                        <div >
                            <div class="tv-gyminstructor-block">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="tv-instructor-icon">
                                        <i class="icon_shield" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="tv-instructor-content">
                                        <h4>Personalized Workout</h4>
                                        <p>We also have a section where the user can generate a workout according to his or her preferences.</p>
                                    </div>
                                </div> 
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="tv-gyminstructor-img">
                            <img src="static/images/Image12.png" class="width-100 img-responsive" alt="gyminstructorimg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Gym Instructor Section-->

        <!--Workout Classes-->
        <section>
            <div  class="tv-fixed-img tv-section-padding-70" style="background-image: url('static/images/Image14.jpg')">
                <div class="tv-opacity-medium tv-bg-black"></div>
                <div class="tv-banner-section-title text-center">
                    <h3>workout classes</h3>
                    <p>In addition to workouts to be performed according to your assigned card, depending on the type of subscription you choose, you will have a number of specialized classes available including: Spinning, Fit-Boxe, CrossFit, Pilates, etc.</p>
                </div>
            </div>
        </section>
        <!--End Workout Classes-->
        {% if session.logged_in %}
        {% else %}
        <!--Membership Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="tv-membership-img">
                            <img src="static/images/Image13.jpg" class="width-100 img-responsive" alt="membershipimg" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="tv-membership-details">
                            <h4>Joined Today Get The Best</h4>
                            <h3>Membership Offer Of The Year</h3>
                            <p>For this beginning 2023 only, we have an exclusive offer for all new customers. If you make the purchase of a Premium membership, you will get the opportunity to bring a friend with you to the gym for the duration of as many as 3 months as a gift.</p>
                            <p>At the end of these 3 months, if your friend decides he or she wants to continue this journey, there will be an additional 3 months free membership for you. Doing fitness together is much more fun.</p>
                            <div class="tv-bodiez-button">
                                <a href="{{url_for('Register')}}">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Membership Section-->

        <!--Pricing Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div>
                    <div class="tv-section-title tv-section1 text-center">
                        <h3>pricing package</h3>
                        <p>In this section you can find all the prices related to subscriptions that you can subscribe to here with us. We have 3 different offers based on your every need. Don't waste any more time, choose Smart Gym.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="price-box">
                            <div class="price-empty">
                            </div>
                            <div class="price-quantity">
                                <div class="qnty-box">
                                    <div class="box-element">
                                        <h5>$85.00</h5>
                                        <p>Quarterly</p>
                                    </div>
                                </div>
                                <div class="price-dtl">
                                    <ul>
                                        <li class="first-child">3 Days of the week</li>
                                        <li>professional trainer</li>
                                        <li>Bodybuilding</li>
                                        <li>Free Hand</li>
                                        <li>Fitness &amp; Boxing</li>
                                    </ul>
                                    <div class="tv-bodiez-button">
                                        <a href="{{url_for('Contact')}}">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="price-box active">
                            <div class="price-empty">
                            </div>
                            <div class="price-quantity">
                                <div class="qnty-box">
                                    <div class="box-element">
                                        <h5>$130.00</h5>
                                        <p>Half yearly</p>
                                    </div>
                                </div>
                                <div class="price-dtl">
                                    <ul>
                                        <li class="first-child">3 Days of the week</li>
                                        <li>professional trainer</li>
                                        <li>Bodybuilding</li>
                                        <li>Free Hand</li>
                                        <li>Fitness &amp; Boxing</li>
                                    </ul>
                                    <div class="tv-bodiez-button">
                                        <a href="{{url_for('Contact')}}">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="price-box">
                            <div class="price-empty">
                            </div>
                            <div class="price-quantity">
                                <div class="qnty-box">
                                    <div class="box-element">
                                        <h5>$85.00</h5>
                                        <p>$210.00</p>
                                    </div>
                                </div>
                                <div class="price-dtl">
                                    <ul>
                                        <li class="first-child">3 Days of the week</li>
                                        <li>professional trainer</li>
                                        <li>Bodybuilding</li>
                                        <li>Free Hand</li>
                                        <li>Fitness &amp; Boxing</li>
                                    </ul>
                                    <div class="tv-bodiez-button">
                                        <a href="{{url_for('Contact')}}">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!--End Pricing Section-->
        {% endif %}
        

        <!--Gallery Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div >
                    <div class="tv-section-title tv-section1 text-center">
                        <h3>Our Gallery</h3>
                        <p>Below is our photo gallery to best introduce you to our facilities, from the weight room, to other spaces used for different specialized courses. </p>
                    </div>
                    <div class="tv-gallery-clear">
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <a href="static/images/Image25.jpg" data-gallery-image-popup="">
                                <div class="tv-gallery-img">
                                    <img src="static/images/Image25.jpg" class="width-100 img-responsive" alt="galleryimg" />
                                    <i class="icon_search"></i>
                                </div>
                            </a>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <a href="static/images/Image26.jpg" data-gallery-image-popup="">
                                <div class="tv-gallery-img">
                                    <img src="static/images/Image26.jpg" class="width-100 img-responsive" alt="galleryimg" />
                                    <i class="icon_search"></i>
                                </div>
                            </a>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <a href="static/images/Image27.jpg" data-gallery-image-popup="">
                                <div class="tv-gallery-img">
                                    <img src="static/images/Image27.jpg" class="width-100 img-responsive" alt="galleryimg" />
                                    <i class="icon_search"></i>
                                </div>
                            </a>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <a href="static/images/Image28.jpg" data-gallery-image-popup="">
                                <div class="tv-gallery-img">
                                    <img src="static/images/Image28.jpg" class="width-100 img-responsive" alt="galleryimg" />
                                    <i class="icon_search"></i>
                                </div>
                            </a>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <a href="static/images/Image29.jpg" data-gallery-image-popup="">
                                <div class="tv-gallery-img">
                                    <img src="static/images/Image29.jpg" class="width-100 img-responsive" alt="galleryimg" />
                                    <i class="icon_search"></i>
                                </div>
                            </a>
                        </div>
                        <div class="padding-0 col-md-4 col-sm-6 col-xs-12">
                            <a href="static/images/Image30.jpg" data-gallery-image-popup="">
                                <div class="tv-gallery-img">
                                    <img src="static/images/Image30.jpg" class="width-100 img-responsive" alt="galleryimg" />
                                    <i class="icon_search"></i>
                                </div>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>
        <!--End Gallery Section-->

        <!--Script Gallery-->
        <script>
            $(document).ready(function () {
                var $imagePopup = $('[data-gallery-image-popup]');
                /*Image*/
                $imagePopup.magnificPopup({
                    type: 'image',
                    gallery: {
                        enabled: true
                    }
                });
            });
        </script>
        <!--End Script Gallery-->

        <!--Latest News Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div >
                    <div class="tv-section-title tv-section1 text-center">
                        <h3>Latest News</h3>
                        <p>Are you really that passionate about fitness? This section is just right for you. Stay updated daily on developments and news in the world of fitness and bodybuildilg in general. And watch out for the many gossips around the world.</p>
                    </div>
                    <div class="tv-latestnews-clear">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-latestnews-block">
                                <div class="tv-latestnews-img">
                                    <img src="static/images/Image25.jpg" class="width-100 img-responsive" alt="latestnewsimg" />
                                    <div class="tv-latestnews-date">
                                        <span class="date">05</span>
                                        <span class="month">Jan</span>
                                    </div>
                                </div>

                                <div class="tv-latestnews-content">
                                    <div class="latestnews-title">
                                        <a><h4>24/7, We Never Stop Running</h4></a>
                                    </div>
                                    <div class="meta">
                                        <div class="news-author">
                                            <i class="icon_profile"></i>
                                            <a>XxIpavonxX</a>
                                        </div>
                                        <div class="comment-counter">
                                            <span>/ Review</span>
                                        </div>
                                    </div>
                                    <div class="latestnews-content">
                                        <p>Running burns calories. Running is an activity that gets virtually every muscle in the body moving and helps burn calories, tones muscles and dries out the physique. Combining 2 or 3 running sessions a week with a light, fruit-rich diet is a boon to losing weight and feeling lighter.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-latestnews-block">
                                <div class="tv-latestnews-img">
                                    <img src="static/images/Image28.jpg" class="width-100 img-responsive" alt="latestnewsimg" />
                                    <div class="tv-latestnews-date">
                                        <span class="date">02</span>
                                        <span class="month">Jan</span>
                                    </div>
                                </div>
                                <div class="tv-latestnews-content">
                                    <div class="latestnews-title">
                                        <a><h4>Fantastic Space</h4></a>
                                    </div>
                                    <div class="meta">
                                        <div class="news-author">
                                            <i class="icon_profile"></i>
                                            <a>The Real Kevin</a>
                                        </div>
                                        <div class="comment-counter">
                                            <span>/ Review</span>
                                        </div>
                                    </div>
                                    <div class="latestnews-content">
                                        <p>Fantastic space to work out in, the club is warm and  staff welcoming. Got all the equipment you could ask for to achieve a great work out. Plus excellent choice of classes to push yourself and feel part of a community!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="tv-latestnews-block">
                                <div class="tv-latestnews-img">
                                    <img src="static/images/Image30.jpg" class="width-100 img-responsive" alt="latestnewsimg" />
                                    <div class="tv-latestnews-date">
                                        <span class="date">01</span>
                                        <span class="month">Jan</span>
                                    </div>
                                </div>
                                <div class="tv-latestnews-content">
                                    <div class="latestnews-title">
                                        <a>
                                            <h4>Really good workout</h4>
                                        </a>
                                    </div>
                                    <div class="meta">
                                        <div class="news-author">
                                            <i class="icon_profile"></i>
                                            <a>ForeverNapoli100</a>
                                        </div>
                                        <div class="comment-counter">
                                            <span>/ Review</span>
                                        </div>
                                    </div>
                                    <div class="latestnews-content">
                                        <p>The secret is to do things well and without rushing; improvements will then come and you can increase the training periods. But be sure to always rely on specialists in the field and especially qualified ones! Your body is not an object, and a good trainer will know how to prepare the right training card for you.</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Latest News Section-->
{% endblock %}