{% extends "template.html" %}

{% block content %}
<div class="page-wrapper bg-color p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Gym Membership</h2>
                    <div class="row row-space">
                        <div class="col-2">
                            <label class="label">Entries</label>
                            
                        </div>
                    </div>
                        <button class="btn btn--radius-2 btn--main" type="submit" id="scanButton">Scan</button>
                        <button class="btn btn--radius-2 btn--main" type="submit" id="writeButton">write</button>	
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}