{% extends "template.html" %}

{% block content %}

        <div class="tv-inner-banner-image" style="background-image: url('/static/images/Image6.jpg')">
            <div class="tv-opacity-medium tv-bg-pink"></div>
            <div class="tv-inner-banner-text">
                <h3>Our Trainer</h3>
                <div class="tv-breadcrumb">
                    <a href="{{url_for('home')}}"><span>Home</span></a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span>Our Trainer</span>
                </div>
            </div>
        </div>
        <!--End Header Section-->

        <!--Inner Trainer Section-->
        <section class="tv-section-padding">
            <div class="container">
                <div class="row">
                    <div class="tv-trainer-clear">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="team tv-offspace-top-20">
                                <figure class="team-img tv-trainer-border">
                                    <img src="/static/images/Image21.jpg" alt="" class="width-100">
                                    <figcaption class="team-icon">
                                        <ul>
                                            <li><a href="" class="team-circle"><i class="social_facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="tv-inner-trainer-name">
                                    <h4>Pasquale Ruotolo</h4>
                                    <div class="tv-inner-trainer-details"><span>Experience</span><p>7 Years</p></div>
                                    <div class="tv-inner-trainer-details"><span>qualification</span><p>BBA</p></div>
                                    <div class="tv-inner-trainer-details"><span>Timing</span><p>9.00 AM - 5.00 PM</p></div>
                                    <div class="tv-inner-trainer-details"><span>Reviews</span><p><i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star"></i>&nbsp;<i class="icon_star"></i></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="team tv-offspace-top-20">
                                <figure class="team-img tv-trainer-border">
                                    <img src="/static/images/Image22.jpg" alt="" class="width-100">
                                    <figcaption class="team-icon">
                                        <ul>
                                            <li><a href="" class="team-circle"><i class="social_facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="tv-inner-trainer-name">
                                    <h4>Vincenzo Bucciero</h4>
                                    <div class="tv-inner-trainer-details"><span>Experience</span><p>7 Years</p></div>
                                    <div class="tv-inner-trainer-details"><span>qualification</span><p>BBA</p></div>
                                    <div class="tv-inner-trainer-details"><span>Timing</span><p>9.00 AM - 5.00 PM</p></div>
                                    <div class="tv-inner-trainer-details"><span>Reviews</span><p><i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star" style="color:#000000;"></i></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="team tv-offspace-top-20">
                                <figure class="team-img tv-trainer-border">
                                    <img src="/static/images/Image23.jpg" alt="" class="width-100">
                                    <figcaption class="team-icon">
                                        <ul>
                                            <li><a href="" class="team-circle"><i class="social_facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="" class="team-circle"><i class="social_instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <div class="tv-inner-trainer-name">
                                    <h4>Ylenia Cecere</h4>
                                    <div class="tv-inner-trainer-details"><span>Experience</span><p>7 Years</p></div>
                                    <div class="tv-inner-trainer-details"><span>qualification</span><p>BBA</p></div>
                                    <div class="tv-inner-trainer-details"><span>Timing</span><p>9.00 AM - 5.00 PM</p></div>
                                    <div class="tv-inner-trainer-details"><span>Reviews</span><p><i class="icon_star" style="color:#000000;"></i>&nbsp;<i class="icon_star"></i></i>&nbsp;<i class="icon_star"></i>&nbsp;<i class="icon_star"></i>&nbsp;<i class="icon_star"></i></p></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!--End Inner Trainer Section-->
        {% endblock %}